.blog-post {
  /* background-color: #ff0; */
  color: #303841;
  margin: 40px 0 40px 0px;
  height: 100%;
  font-family: Montserrat;
 }
 
 .blog-date {
   font-size: 1rem;
   font-weight: 300;
 }
 
 .blog-post-heading {
   /* background-color: teal; */
   font-size: 1.5rem;
   padding: 15px 0 30px 0;
   color: #303841;
   
 }
 
 .blog-post-text {
   /* background-color: aquamarine; */
   padding: 15px;
   border-left: 5px solid #303841;
 }
 
 .blog-link {
   text-align: right;
   /* background-color: blue; */
   padding: 0 25px 0 0;
   font-style: italic;
 }