@import '../../variables';

.blog-title {
    background: $globalBlue;
    color: #fff;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Montserrat';
    // border-top: #132835 4px solid;
    // border-bottom: #132835 4px solid;

    h1 {
        margin: 0;
        letter-spacing: 2px;
    }

    h2 {
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 1px;
        padding: 0 0 30px 0;
        font-style: italic;
    }

}


.blog-post {
    color: #303841;
    margin: 50px 10px 40px 10px;
    height: 100%;
    font-family: 'Montserrat';

    span {
        font-size: 16px;
        font-weight: 300;
    }
    
    h3 {
        margin: 0;
        font-size: 22px;
        font-weight: 400;
        padding: 6px 0 15px 0;
        color: $globalBlue;
    }
    p {
        padding: 15px;
        border-left: 5px solid $globalBlue;
    }

    .blog-link {
        text-align: right;
        /* background-color: blue; */
        padding: 0 25px 0 0;
        font-style: italic;
    }
    
    a:link {
        text-decoration: none;
        color: $globalBlue;

    }
    
    a:visited {
        text-decoration: none;
        color: $globalBlue;
    }
    
    a:hover {
        text-decoration: underline;
    }
    
    a:active {
        text-decoration: underline;
    }
    
}

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1200px) {}
