h1 {
	margin: 0;
	font-size: 65px;
}

.about-and-contact {
	padding: 60px 0 0 0;
    width: 670px;
    display: flex;
    margin: auto;

    .about {
        width: 70%;
        height: 400px;
    }

    .contact {
        width: 30%;
        height: 400px;
	
		img {
			width: 50px;
			height: 100%;
		}
	}
}