.home-title {
    // height: 330px;
    background: #1d3e53;
    color: #fff;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Montserrat';
    padding: 0 0 30px 0;

    // section {}

    h1 {
        margin: 65px 0 0 0;
        letter-spacing: 2px;
    }

    h2 {
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 2px;
        padding: 0 0 30px 0;
        font-style: italic;
    }

    h3 {
        font-weight: 300;
        margin: 0;
        padding: 0 0 20px 0;
        letter-spacing: 3px
    }

    img {
        height: 100%;
        width: 20vw;
    }

    .icons {
        width: 640px;
        display: flex;
        margin: auto;

        a:link {
            text-decoration: none;
            color: #fff;
    
        }
    
        a:visited {
            text-decoration: none;
            color: #fff;
        }
    
        a:hover {
            text-decoration: underline;
        }
    
        a:active {
            text-decoration: underline;
        }
    }
}

.home-container {
    margin: 5px 20px 50px 20px;
    font-family: 'Montserrat';
    color: #2e2e2e;
    text-align: justify;
    letter-spacing: 1px;


    img {
        width: 25vw;
    }

    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    p {
        font-size: 16px;
        font-family: 'Montserrat';
        line-height: 28px;
        width: inherit;
    }
}

@media (min-width: 640px) {
    .home-title {

        h1 {
            margin: 65px 0 0 0;
            letter-spacing: 4px;
            font-weight: 400;
            font-size: 50px;        }
    
        h2 {
            font-weight: 300;
            font-size: 22px;
            letter-spacing: 2px;
            padding: 0 0 30px 0;
            font-style: italic;
        }

        .icons {
            width: 640px;
            display: flex;
            margin: auto;
            
            section {
                width: 33%;
                padding: 0 0 65px 0;

                img {
                    height: 100%;
                    width: 100px;
                }
            }
        }

        
    }

    .home-container {
        width: 640px;
        margin: auto;
        padding: 0 0 65px 0;
    
        img {
            width: 25vw;
        }
    
        h2 {}
    
        p {
            font-size: 16px;
            font-family: 'Montserrat';
            line-height: 28px;
            width: inherit;
        }
    
        .about {}
    }
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1200px) {}
