@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

@import '../variables';


.home-title {
    // height: 330px;
    background: $globalBlue;
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Montserrat';
    padding: 0 0 60px 0;
    // border-top: #132835 4px solid;
    // border-bottom: #132835 4px solid;

    // section {}

    h1 {
        margin: 30px 0 0 0;
        letter-spacing: 2px;
        font-weight: 300;
        font-size: 60px;
    }

    h2 {
        font-weight: 300;
        font-size: 19px;
        letter-spacing: 2px;
        padding: 0 0 30px 0;
        // font-style: italic;
    }

    h3 {
        font-weight: 300;
        margin: 0;
        padding: 0 0 20px 0;
        letter-spacing: 3px
    }

    .my-img {
        margin-top: 50px;
        border: 5px solid white;
        border-radius: 50%;
        width: 150px;
    }

    .icons {
        display: flex;
        height: 70px;
        width: 420px;
        margin: auto;

        .icon-img {
            height: 100%;
            width: 12%;
        }
    }
}

.home-container {
    margin: 5px 20px 50px 20px;
    font-family: 'Montserrat';
    color: #2e2e2e;
    text-align: justify;
    letter-spacing: 1px;

    h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    p {
        font-size: 16px;
        font-family: 'Montserrat';
        line-height: 28px;
        width: inherit;
    }



    .main-projects-container {

        a:link {
            text-decoration: none;
            color: $globalBlue;
    
        }
    
        a:visited {
            text-decoration: none;
            color: $globalBlue;
        }
    
        a:hover {
            text-decoration: underline;
        }
    
        a:active {
            text-decoration: underline;
        }

        .project {
            position: relative;
            width: 100%;
        }

        .project-image {
            display: block;
            width: 100%;
            height: auto;
        }

        .project-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: white;
        }

        .project:hover .project-overlay {
            opacity: 1;
        }

        .project-text {
            text-align: center;
            font-family: 'Montserrat';
            font-weight: 300;
            color: black;
            font-size: 16px;
            letter-spacing: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
            height: inherit;

            a {
                font-weight: 700;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0 0 15px 0;

                li {
                    margin: 0;
                    padding: 0;
                    font-weight: 400;
                }
            }
        }
    }
}

@media (min-width: 640px) {
    .home-title {

        h1 {
            margin: 30px 0 0 0;
            letter-spacing: 5px;
            font-weight: 300;
            font-size: 60px;
        }

        h2 {
            font-weight: 300;
            font-size: 22px;
            letter-spacing: 2px;
            padding: 0 0 30px 0;
            // font-style: italic;
        }

        .icons {

            display: flex;
            width: 420px;
            margin: auto;

            .icon-img {
                // margin: 2%;
                margin: 2%;
                width: 10%;
            }
        }
    }

    .home-container {
        width: 960px;
        margin: auto;
        padding: 0 0 65px 0;

        .about {
            padding: 60px 0 0 0;
            width: 600px;
            margin: auto;
        }

        .main-projects-container {
            // background-color: #2e2e2e;


            .project-row {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
            }

            .project {
                // position: relative;
                width: 25%;
                // background-color: salmon;
                margin: auto;
            }

            .project-image {
                // display: block;
                width: auto;
                height: inherit;
            }

            .project-overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-color: white;
            }

            .project:hover .project-overlay {
                opacity: 0.9;
            }

            .project:hover .project-image {}

            .project-text {
                text-align: center;
                font-family: 'Montserrat';
                font-weight: 300;
                color: black;
                font-size: 16px;
                letter-spacing: 2px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
                width: 100%;
                height: inherit;

                a {
                    font-weight: 700;
                }

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0 0 15px 0;

                    li {
                        margin: 0;
                        padding: 0;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1200px) {}
