@import '../variables';

.blog-title {
    background: $globalBlue;
    color: #fff;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Montserrat';
    padding: 0 20px 0 20px;

    h1 {
        margin: 0;
        letter-spacing: 2px;
    }

    h2 {
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 1px;
        padding: 0 0 30px 0;
        font-style: italic;
    }

}

.blog-main {
    padding: 0 0 20px 0;
    text-align: center;
    font-family: 'Montserrat';

    h1 {

    }

    h2 {
        font-size: 22px;
        letter-spacing: 2px;
        padding: 0 0 20px 0;
    }

    p {
        letter-spacing: 1px;
        text-align: left;
        padding: 0 20px 0 20px;
    }

    pre {
        background: #1A1F16;
        color: #fff;
    }

}

@media (min-width: 640px) {
    .blog-main {
        width: 640px;
        margin: auto;
    }
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1200px) {}
