@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.nav-header {
	font-family: 'Montserrat';
	height: 52px;
	margin: 0 5px 0 5px;

	span {
		margin: 0;
		padding: 0;
		font-size: 15px;
		letter-spacing: 2px;
		font-weight: 400;
	}

	nav {
		float: right;
	}

	a {
		float: left;
		color: #1d3e53;
		padding: 18px 5px 16px 5px;
		font-size: 11px;
		font-weight: 700;
		line-height: 18px;
		letter-spacing: 1px;
		text-transform: uppercase;

		&:hover {
			background: #1d3e53;
			color: #fff;
			text-decoration: none;
		}
	}

	a.active {
		background-color: #1d3e53;
		color: white;
	}
}

footer {
	padding: 30px 0 0 20px;
	height: 50px;
	border-top: 1px solid #1d3e53;
	font-family: 'Montserrat';
}

code,
pre,
samp {
	font-family: monospace, monospace;
}

samp {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	font-size: 0.85rem;
	line-height: 1.42;
	border-radius: 1px;
	padding: 3px 5px;
	background: #404040;
	color: #fff;
}

pre {
	text-align: left;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 1.45rem;
	font-size: 0.85rem;
	line-height: 1.42;
	// border-radius: 3px;
	overflow-x: scroll;
	word-wrap: normal;
	padding: 1.45rem;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #1d3e53;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}



@media (min-width: 640px) {

	.nav-header {
		font-family: 'Montserrat';
		height: 52px;
		margin: 0 25px 0 25px;
	
		span {
			margin: 0;
			padding: 0;
			font-size: 15px;
			letter-spacing: 4px;
			font-weight: 700;
		}
	
		nav {
			float: right;
		}
	
		a {
			float: left;
			color: #1d3e53;
			padding: 18px 15px 16px 15px;
			font-size: 12px;
			font-weight: 700;
			line-height: 18px;
			letter-spacing: 3px;
			text-transform: uppercase;
	
			&:hover {
				background: #1d3e53;
				color: #fff;
				text-decoration: none;
			}
		}
	
		a.active {
			background-color: #1d3e53;
			color: white;
		}
	}
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1200px) {}
