@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto+Slab:wght@100;200;400;500&display=swap');

:root{
	--focus:#db0a5b;
	--focus-shadow:#db0a5a17;

	--font-family:'Montserrat', sans-serif;

	--primary-dark:#393737;
	--secondary-dark:#919191;
	--tertiary-dark:rgba(148, 148, 148, 0.3);
	--gradient:linear-gradient(-45deg, #ffdde1, #136a8a, #136a8a, #ffdde1);
}

html, body{
	padding:0; margin:0;
	// font-family:var(--font-family);
	color:var(--primary-dark);
}

body{
	min-height:100vh;width:100%;
}

a{
	color:inherit;
	text-decoration:none;
}

*{
	margin:0; padding:0;
	box-sizing:border-box;
}
